# =================================================================
# GIT IGNORE
# File dan folder yang dikecualikan dari repository Git.
# =================================================================

# File konfigurasi pribadi (JANGAN DI-COMMIT)
akun.txt
telegram-config.js
utils/signature-config.js
debug-chunk.js
.env

# Dependensi Node.js
node_modules/

# File log dan cache
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
